@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


#broth-section,
#meat-section {
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#broth-section h1,
#meat-section h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 47.52px;
  text-align: center;
  margin: 15px 0px 0px 0px;
  color: #000000;
}

#broth-section p,
#meat-section p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
}

#broth-items,
#meat-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  justify-content: space-evenly;
  height: 500px;
}

#broth-items .card-body,#meat-items .card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#broth-items .card-broth,
#meat-items .card-meat {
  width: 320px;
  height: 316px;
  box-shadow: 0px 4px 12px 0px #E0DBBF99;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#broth-items .card-title,
#meat-items .card-title {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  color: #1820EF;
  margin: 0;
}

#broth-items .card-text,
#meat-items .card-text {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: #000000;
  max-width: 256px;
}

#broth-items .card-price,
#meat-items .card-price {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 16px;
  text-align: center;
  color: #FF4E42;
}

.card-broth.active,
.card-meat.active {
  background-color: #1820EF;
}

#broth-items .card-body .card-title.active,
#broth-items .card-body .card-text.active,
#meat-items .card-body .card-title.active,
#meat-items .card-body .card-text.active{
  color: #FFFFFF; 
}


#broth-items .card-body .card-price.active,
#meat-items .card-body .card-price.active {
  color: #FFC024;  
}

.carousel {
  display: none;
}

@media screen and (max-width: 500px) {

  .carousel {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 400px;
  }
  
  .slides {
    transition: transform 0.5s ease;
  }
  
  .slide {
    min-width: 100%;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: white;
  }

}