@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.hero-container {
  width: 100vw;
  height: 100%;
  max-height: 677px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  position: absolute;
  z-index: 1;
  top: 10px;
  width: 100%;
}

.go-container {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.go-container h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  color: #ffffff;
  margin: 0;
  font-size: 7.5rem;
}

.go-container p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  color: #FFC024;
  margin: 0;
  font-size: 3em;
}

.ilustration-container {
  width: 269px;
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ilustration-image {
  max-width: 100%;
  max-height: 100%;
}

.cta-container {
  max-width: 300px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 500;
}

.cta-container button {
  display: none;
}

@media (min-width: 800px) {
  .hero-container {
    width: 100vw;
    height: 100%;
    max-height: 768px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  header {
    position: absolute;
    z-index: 1;
    top: 10px;
  }

  .go-container {
    width: 200px;
    position: absolute;
    top: 30%;
    z-index: 2;
    left: 26.4%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .go-container p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  .go-container h1 {
    font-size: 10rem;
  }

  .ilustration-container {
    width: 653px;
    height: 663px;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ilustration-image {
    max-width: 100%;
    max-height: 100%;
    margin-left: 15%;
  }

  .cta-container {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    left: 27%;
    transform: translate(-50%, 0);
    top: 55%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .cta-container button {
    display: flex;
    background-color: #1820EF;
    width: 213px;
    height: 60px;
    border-radius: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;
    letter-spacing: 1.78px;
  }
}